.clear
	clear both
.header
	border-bottom 2px solid #f0eaed
.hcl-module
	.nav
		.wid
			padding 0 30px
			box-sizing border-box
			font-size 16px
			color #000
			line-height 70px
			a
				position relative
				padding-right 10px
				&:after
					content ">"
					padding-left 10px
	.filter
		border 1px solid #c2c2c3
		.search
			background #c9dc99
			padding 15px 25px
			.input
				display block
				background #fff
				padding 10px 0
				input
					&+*
						border-left 1px solid #c2c2c3
				input
				select
					float left
					font-size 16px
					color #000
					line-height 28px
					height 28px
					padding-left 40px
					width 300px
					background url('../img/h-icon-1.png') 10px center no-repeat
					&.date
						background-image url('../img/h-icon-10.png')
					&.prople
						width 180px
				select
					appearance none
					background url('../img/p59.png') 10px center no-repeat,
					url('../img/h-icon-7.png') right 10px center no-repeat
			input
			select
				border none
				outline none
			.submit
				width 145px
				height 48px
				background #f39700
				font-size 16px
				color #fff
				line-height 48px
				margin 0 15px
				cursor pointer
			a
				font-size 16px
				color #fff
				line-height 48px
		.option
			padding-bottom 20px
			.row
				padding 13px 0 5px
				font-size 12px
				color #000
				line-height 22px
				.w90
					width 90px
					text-align center
				.item
					float left
					width 115px
					a
						color #595757
						padding-right 15px
						background  url('../img/h-icon-16.png') right center no-repeat
					.none
						display block
						width 46px
						color #fff
						text-align center
						border-radius 3px
						background #8ab92a
						cursor pointer
					label
						font-size 0
						display block
						span
							padding-left 5px
							font-size 12px
							color #595757
					input
						width 15px
						height 14px
						vertical-align middle
						border 1px solid #c2c2c3
						appearance none
						vertical-align middle
						&:checked
							background url('../img/p104.png') center center/auto 80% no-repeat
					span
						vertical-align middle
					&.p0-5
						width 200px
						span
							padding 0 5px
						input
							height 100%
							width 45px
							padding-left 5px
	.recommend-filter
		font-size 14px
		color #595757
		line-height 76px
		h3
			padding-right 40px
			color #8aba29
			font-weight normal
		a
			margin-right 20px
	.list
		width 870px
		.selected-wap .Jump
			text-align center
		.item
			&+.item
				padding-top 20px
			.pic
				width 305px
				img
					display block
					width 100%
			.content
				padding-left 15px
				width 550px
				h3
					font-size 20px
					color #231815
					padding 28px 0 15px
					line-height 1
					font-weight normal
				.cost
					padding 28px 0 15px
					font-size 28px
					color #e60012
					line-height 1
				p
					font-size 14px
					color #595757
					line-height 24px
					.green
						font-weight bold
						color #8aba29
					a.map
						margin-left 10px
						padding-left 15px
						font-size 12px
						color #595757
						background url('../img/map.png') left center no-repeat
				.tips
					padding-top 10px
					span
						float left
						margin-left 8px
						padding 5px 6px
						font-size 12px
						color #ea5514
						border 1px solid #ea5514
						border-radius 3px
						&.red
							color #c30d23
							border 1px solid #c30d23
				.btn-look
					width 118px
					height 30px
					background #ea5514
					font-size 14px
					color #fff
					line-height 30px
					text-align center
	.ads
		width 285px
		.item
			display block
			margin-bottom 20px
			img
				width 100%
				display block
